{% extends 'public/base.html' %}

{% load staticfiles %}

{% block head %}
    <style>

        .heading{
            margin: 10px;
            font-weight:300;
        }

        .center{
            text-align: center;
            min-height: 200px;
        }

        .center select{
            padding:5px;
        }

        .center select option{
            padding:5px;
        }

        .groups{
            clear:both;
            display:block;
            margin:10px auto;
            width:120px;
        }

        #next{
            border:0;
            padding:10px 15px;
            cursor:pointer;
        }

        p.selected-group{
            margin:10px 0;
        }
        
        #selectedGroups .remove-selection{
            color: red;
            margin-left: 5px;
            padding-top: 0px;
            font-size: 12px;
            cursor: pointer;
        }
    </style>
    <!-- bootstrap ONLY GLYPHICONS -->
    <link rel="stylesheet" href="{% static 'external/bootstrap/css/bootstrap.css' %}">
{% endblock head %}

{% block body %}
    <div class="center">
        <h3 class="heading white">What day is it today?</h3>
        <div id="selectedGroups"></div>
        <select class="groups" name="groups" id="groupSelectInput" onchange="selectDuplicate(this)">
            <option value="0">--------</option>
            {% for group in groups %}
                <option value="{{ group.id }}">{{ group.name|title }}</option>
            {% endfor %}
        </select>
        <button id="next" class="white dark-blue-background">Next</button>
    </div>
{% endblock body %}

{% block script %}
    <script>

        function generateSelectedGroupHTML(id, text){
            var removeSpan = '<span class="remove-selection glyphicon glyphicon-remove" onclick="removeSelection(this)"></span>';
            return '<p class="selected-group white" id="group_' + id + '" data-group-id="' + id + '">' + text + removeSpan + '</p>'
        };

        function generateOptionHTML(id, text) {
            return '<option value="' + id + '">' + text + '</option>'
        };

        // add selected group, remove it from select
        function selectDuplicate(element){

            // find the selected val and remove from new select
            var selectedVal = $(element).val();
            var selectedText = $(element).find('option[value=' + selectedVal + ']').text();
            $(element).find('option[value="' + selectedVal + '"]').remove();

            // append selected group
            $('#selectedGroups').append(generateSelectedGroupHTML(selectedVal, selectedText));
        };

        $('#next').click(function(){

            // assemble simple array of the group IDs
            var groups = [];
            $('.selected-group').each(function(i,v){
                var group = parseInt($(v).attr('data-group-id'));
                // push group value to array if it's > 0 (a valid ID)
                groups.push(group);
            });

            var post_data = {
                'groups': groups
            }

            // send post to setup the new workout object associated with the selected groups
            $.post('{% url "setup_workout" %}', post_data, function(data){
                console.log(data);
                window.location.href = '/workout-edit/' + data.workout_id + '/';
            });
        });

        function removeSelection(element){
            var selectedGroup = $(element).closest('p.selected-group');
            var selectedID = selectedGroup.attr('data-group-id');
            var selectedText = selectedGroup.text();
            selectedGroup.remove();
            $('#groupSelectInput').append(generateOptionHTML(selectedID, selectedText));
        };
    </script>
{% endblock script %}