{% extends 'public/base.html' %}

{% block head %}
    <style>
        body{
            margin:0;
            font-family: 'Source Sans Pro', sans-serif;
        }

        .heading{
            color:#fff;
            margin: 10px;
            font-weight:300;
        }

        .container{
            max-width: 100%;
            width:100vw;
            height:100vh;
            background-color:#264d6e;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .center{
            text-align: center;
            min-height: 200px;
        }

        .center select{
            padding:5px;
        }

        .center select option{
            padding:5px;
        }

        .groups{
            clear:both;
            display:block;
            margin:10px auto;
            width:120px;
        }

        #next{
            background-color:#1e2d4e;
            border:0;
            padding:10px 15px;
            cursor:pointer;
            color:white;
        }
    </style>
{% endblock head %}

{% block body %}
    <div class="container">
        <div class="center">
            <h3 class="heading">What day is it today?</h3>
            <div id="selectedGroups"></div>
            <select class="groups" name="groups" id="group1" onchange="selectDuplicate(this)">
                <option value="0">--------</option>
                {% for group in groups %}
                    <option value="{{ group.id }}">{{ group.name|title }}</option>
                {% endfor %}
            </select>
            <button id="next">Next</button>
        </div>
        {% csrf_token %}
    </div>
{% endblock body %}

{% block script %}
    <script>

        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

        // setup CSRF token on AJAX requests
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        // add selected group, remove it from select
        function selectDuplicate(element){

            // find the selected val and remove from new select
            var selectedVal = $(element).val();
            var selectedText = $(element).find('option[value=' + selectedVal + ']').text();
            $(element).find('option[value="' + selectedVal + '"]').remove();

            // append selected group
            $('#selectedGroups').append('<p class="selected-group" id="group_' + selectedVal + '">' + selectedText + '</p>');
        };

        $('#next').click(function(){

            // assemble simple array of the group IDs
            var groups = [];
            $('.groups').each(function(i,v){
                var group = parseInt($(v).val());
                // push group value to array if it's > 0 (a valid ID)
                if (group > 0){
                    groups.push(group);
                }
            });

            // send post to setup the new workout object associated with the selected groups
            $.post('{% url "setup_workout" %}', {'groups': groups}, function(){
            });
        });
    </script>
{% endblock script %}