{% extends 'public/base.html' %}

{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'public/css/workout_detail.css' %}">
{% endblock head %}

{% block body %}
    <div class="standard-width padding-10" id="content">

        <div class="margin-bottom-10 clearfix">
            <h2 class="left no-margin">{{ workout | title }}</h2>
            <span class="date right">{{ workout.date }}</span>
        </div>

        <div id="groups_pool" class="groups">
            {% for group in workout.construct_tree %}
                <div id="group_{{ group.id }}" class="group padding-y-5">
                    {% for exercise in group.exercises %}
                        <p class="no-margin margin-bottom-10">{{ exercise.name | title }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock body %}

{% block script %}
{% endblock script %}