{% extends 'public/base.html' %}

{% load staticfiles %}

{% block head %}
{% endblock head %}

{% block body %}
    <div class="workouts" id="content">
        <table>
            <tbody>
                {% for workout in object_list %}
                    <tr>
                        <td>
                            {{ workout.date }}
                        </td>
                        <td>
                            {% if workout.date|date:"Y-m-d" >= todays_date or workout.date == none %}
                                <a href="{% url 'edit_workout' workout.pk %}">
                                    {{ workout | title }}
                                </a>
                            {% else %}
                                <a href="{% url 'workout' workout.pk %}">
                                    {{ workout | title }}
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include 'include/pagination.html' with page_obj=page_obj %}
    </div>
{% endblock body %}

{% block script %}
{% endblock script %}