.groups{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 10px;
}

.exercises{
    display:none;
}

.group-title{
    cursor:pointer;
}

@media only screen and (max-width: 800px) {
    .groups{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 400px) {
    .groups{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0;
    }
}