.white-background{
    background-color:#fff;
}

.standard-blue-background{
    background-color:#264d6e;
}

.dark-blue-background{
    background-color:#1e2d4e;
}

.dark-red-background{
    background-color:#d9534f;
}

.dark-green-background{
    background-color:#4d9e4d;
}

.white{
    color:#fff;
}